
<body class=" bg-light text-dark">
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Client-Server</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="p-5 mt-2 container">
  <div class="row justify-content-md-between">
    <div class="col col-lg-4">
    <h1>
      <%= @article.title%>
    </h1> 
    </div>
    <div class="col-md-auto"> 
    </div>
    <div class="col col-lg-2">
    <ul>
      <li type="button" class="btn btn-outline-warning"><%= link_to "Edit", edit_article_path(@article) %></li>
      <li type="button" class="btn btn-outline-dark"><%= link_to "Destroy", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }%></li>
    </ul>
    </div>
  </div>
</div>


<P class="p-5 container">
    <%= @article.body%>
</P>

<a href="/articles/" type="button" class="btn btn-dark position-absolute bottom-0 end-0">Go back</a>  
</body>

